
.contactanos{
    display: flex;
    flex-direction: column;
    width:max(100px,100%);
    box-sizing:border-box;
    margin-top: 10vh;
}

.telefono{
        font-weight: 500;
}

@media (min-width:320px) {
    *{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .numeros{
        display: grid;
        grid-template-columns:repeat(2,10%);
        font-weight: 700;
        margin-top: 30px;
    }

    

    .direccionCorreo{
        margin-top: 30px;
    }

    .informacionDatos{
        margin-top: 20%;
    }

    .horarios{
        margin-top: 9%;
        color: cornflowerblue;
        font-size: 30px;
    }

    .servicios{
        margin-top: 20px;
        font-size: large;
        color: rgb(53, 75, 118);
        
    }

    .numeros{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .whatsapp{
        margin-top: 9%;
        display: flex;
        flex-direction: row;
    }

    .hora{
        margin-top: 30px;
    }

    .title{
        color: cornflowerblue;
        font-weight: 600;
    }

    .textoHorarios{
        color: rgb(48, 227, 48);
    }

    .ubicacion{
        margin-bottom: 100px;
    }

    iframe{
        width: 100%;
        height: 300px;
        padding: 30px;
        border-radius: 42px;
    }
    
    .h1Encuentranos{
        font-size: 5vh;
    }
}

@media (min-width:768px){
    .main{
        margin: 10%;
    }
    *{
        text-align: left;
    }
    .tituloContactanos{
        text-align: left;
    }

    .seccionIzquierda{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tituloCorreo{
        margin-left: 30px;
    }
    .numeros{
        flex-direction: column;
    }

    .servicioHora{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    }


    .textoEncuentranos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafoUbicacion{
        font-size: large;
    }

}

@media (min-width:1024px){

    .informacionDatos{
        margin-top: 5%;
    }

    .ubicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    iframe{
        margin-top: 100px;
        width: 100%;
        height: 401px;
        padding: 0px;
        border-radius: 42px;
    }

    .servicioHora{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
        align-items: center;
        }


    .title,.textoHorarios,.soporte{
        font-size: large;
    }
    
}

@media (min-width:1496px) {
    .informacionDatos{
        margin-top: 5%;
    }
    .whatsapp{
        margin-top: 15%;
    }


    .direccionCorreo{
        margin-right: 50px;
    }

    .textoEncuentranos{
        margin-left: 50px;
    }

}

@media (min-width: 2560px){
    .descrip,.whatsapp,.telefono,.tituloCorreo,.direccionCorreo,.horarios,.title,.hora{
        font-size: larger;
    }
}