<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/barraLateral.css">
</head>
<body>
    


    <aside class="sideBar">

        <div class="gota">
            <img src="iconSideBar/gota.png" class="gotaImg" alt="">
        </div>

    
        <section class="divBotonHome">
             <a href=""> <img src="iconSideBar/homeAzul.png" id="botonHomeAzul" class="iconos" width="50px" height="50px" alt=""> </a>
            
             <a href="" ><img src="iconSideBar/homeBlanco.png" id="botonHomeblanco" width="50px" height="50px" alt=""></a>
        </section>


        <section class="sectionBotones">

            <div>
                <a href="" > <img src="iconSideBar/laptopBlanco.png"  id="botonLaptopBlanco" class="iconos" width="50px" height="50px" alt=""> </a>
                <a href=""> <img src="iconSideBar/laptopAzul.png" id="botonLaptopAzul" width="50px" height="50px" alt=""></a>
            </div>

            <div>
                <a href=""> <img src="iconSideBar/carroBlanco.png" id="carroBlanco" class="iconos" width="50px" height="50px" alt=""></a>
                <a href=""> <img src="iconSideBar/carroAzul.png" id="carroAzul" width="50px" height="50px" alt=""></a>
            </div>

            <div>
                <a href=""><img src="iconSideBar/usuarioBlanco.png" id="usuarioBlanco" class="iconos" width="50px" height="50px"alt=""></a>
                <a href="" ><img src="iconSideBar/usuarioAzul.png" id="usuarioAzul" width="50px" height="50px"" alt=""></a>
            </div>
        </section>
    </aside>



    


    <script src="../js/sidebar.js"></script>
</body>
</html>