*{
    margin: 0;
    padding: 0;
    transition: 1s;
}

.body,html{
    min-height: 100vh;
    overflow-y: auto;
}
.container-lateral{
    position: fixed;
    bottom: 0;
    background-color: #63aee8;
    width: 100%;
    height: 60px;
    min-height: 60px;
}


.main{
    display: flex;
    flex-direction: row;
    height: 60px;
    min-height: 60px;
    align-items: center;

}

.gota{
    width: 47px;
    min-width: 47px;
    height: 52px;
    min-height: 52px;
    left: 10px;
    background-color: white;
    border-radius: 300px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    top: 0%;
    z-index: -1;
}

.container-iconos{
    display: grid;
    margin-left: 17px;
    grid-template-columns:  repeat(5, minmax(66px, 25vh));
    box-sizing: border-box;
}

.iconos{
    z-index: 3;
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    transition: 1.5s ease-in;
}
@media (min-width:375px){
    .container-iconos{
        grid-template-columns:  repeat(5, minmax(80px, 25vh));
    }
}

@media (min-width:768px) {
    
    .container-lateral{
        position: fixed;
        left: 0;
        background-color: cornflowerblue;
        width: 76px;
        min-width: 76px;
        min-height: 483px;
        height: clamp(90%,100%,93%);
        bottom: 4%;
        border-radius: 21px;
        margin-left: 15px;
    }

    .main{
        flex-direction: column;
        height: 90vh;
        min-height: 420px;
    }

    .container-iconos{
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        margin-left: unset;
        height: 100vh;
        min-height: 420px;
        justify-content: space-around;
    }

    .gota {
        width: 75px;
        min-width: 75px;
        height: 55px;
        min-height: 55px;
        left: 4px;
        background-color: white;
        border-radius: 300px;
        border-top-right-radius: 19px;
        border-bottom-right-radius: 23px;
        position: absolute;
        top: 43.3625px;
        z-index: -1;
        transition: 1s ease ;
    }

    .iconos{
        width: 45px;
        min-width: 35px;
        height: 45px;
        min-height: 35px;
    }

    #homeAzul{
        margin-bottom: 100px;
    }

}

@media (min-height:768px ) and (min-height:1024px) {
    .iconos{
        width: 50px;
        height: 50px;
        margin-left: unset;
    }

    .container-iconos{
        margin-left: unset;
        height: 47vh;
        min-height: 420px;
        justify-content: space-around;
    }
    .gota{
        width: 90px;
        left: 4px;
        top: 3%;
    }

}



@media (min-width:1024px) {
    .container-lateral{
        width: 80px;
        min-width: 80px;
    }


}

@media  (min-width:1440px){
    .container-lateral{
        width: 85px;
        min-width: 85px;
        
    }
    .gota{
        width: 94px;
        min-width: 94px;
        left: 6px;
    }

}



@media (min-width:1920px) {
    
#homeAzul{
    margin-top: 20px;
}


.container-lateral{
    width: 100px;
    min-width: 100px;
}

.gota{
    width: 96px;
    min-width: 96px;
    top: 72px;
    height: 73px;
}


}

