*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tituloConfig{
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 800;
}

.configuracion{
    width: clamp(300px,100%,55%);
    height: clamp(300px,100%,410px);
    background: #63AEE8;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formConfig{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: clamp(150px, 100%, 280px);
}

.inpustConfig{
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom:  15px;
    padding-left: 20px;
    color: #003B28;
    font-size: medium;
    font-weight: 200;
    text-overflow: ellipsis;
}

.inpustConfig::placeholder{
    color: #003B28;
    font-size: medium;
    font-weight: 200;
}

.inpustConfig:focus {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

.mainConfig{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    height: clamp(200px, 100%, 410px);
}

.enviarConfig{
    background-color: rgb(18, 181, 12);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.fotoPerfil{
    display: flex;
    height: 200px;
    width: clamp(100px,100%,210px);
    margin-top: 70px;
    
}


.ContainerImagen{
    background-color: white;
    height: clamp(100px, 100%, 170px);
    width: clamp(150px, 100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.personaAzul{
    width: clamp(60px, 100%, 120px);
    height: clamp(60px, 100%, 120px);
    border-radius: 29px;
}

    .fotoUsuarioText {
        display: block; /* Asegura que se muestre como bloque */
        margin: 10px 0; /* Espaciado */
        padding: 5px;
        font-size: 14px; /* Tamaño de texto */
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Icono de mano */
      }
      

.imgConfig{
    width: clamp(150px, 100%, 500px);
    height: clamp(150px, 100%, 300px);
    
}

@media (min-width:320px) and (max-width: 767px) {
    .mainConfig{
        flex-direction: column;
        margin-top: 30px;
        height: unset;
        align-items: center;
    }
    .imgConfig {
        width: clamp(150px, 100%, 542px);
        height: clamp(150px, 99%, 341px);
    }

    .configuracion{
        margin: 3%;
        width: clamp(300px, 100%, 90%);
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 20px;
    }
    .formConfig{
        margin-top: 30px;
    }
}


@media (min-width:768px) and (max-width: 1366px) {
    
    .imgConfig {
        width: clamp(150px, 100%, 41%);
        height: clamp(135px, 100%, 238px);
    }

    .configuracion{
        align-items: center;
        padding: 10px 0 16px 0;
        flex-direction: column-reverse;
    }

    .formConfig{
        margin-top: 15px;
    }

    .mainConfig{
        margin-top: 45px;
    }
    .fotoPerfil{
        margin-top: unset;
    }
    .ContainerImagen{
        padding: 5px 0 5px 0;
    }
}


@media (min-width:1500px) {
    .mainConfig{
        margin-top: 50px;
    }
}


 
.containerr {
    --transition: 350ms;
    --folder-W: 120px;
    --folder-H: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
 
  
  .custom-file-upload {
    background: #63aee8;
    color: #ffffff;
    border: 1px solid #63AEE8;
    font-size: medium;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
  }


  .custom-file-upload:hover{
    background-color:  rgb(18, 181, 12) ;
    transform: scale(1.1);
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
    color:#63AEE8;
    font-size: medium;
  }

.guardar{
    background: #63aee8;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    border: 1px solid #63AEE8;
    border-radius: 5px;
    margin-left: 5px;
}


.botonGuardarActivo{
    background-color:  #062e5e ;
    transform: scale(1.1);
}

.botonGuardarActivo:hover{
    transform: scale(0.9);
    transition: 0.5s;
}




