*{
    padding: 0;
    margin: 0;
}

.container_grid{
    display: grid;
    grid-template: 
        "sidebar menu" 100px
        "sidebar main" auto 
        /
        130px auto;
    width: 100vw;
    height: 100vh;
    max-height: 1000px;
}

.estadoDeobjetos{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.buscar_user{
    left: 50%;
    width: 500px;
    height: 500px;
    top: 55%;
    position: absolute;
    background-color: #63AEE8;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
}

.img_fondo{
    background-image: url(../../../assets/img/Base_White.png);
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.inside_img_fondo{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: rgba(101, 172, 223, 255);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.objetos_cerrar_button{
    align-self: flex-end;
    border: 0;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
    color:  rgb(42, 42, 43);
    padding-right: 30px;
}

.objetos_input{
    height: 56px;
    min-height: 22px;
    width: 218px;
    margin-bottom: 5px;
    /* Espaciado superior */
    border-radius: 59px;
    /* Bordes redondeados */
    border: 2px solid #ffffff;
    /* Borde blanco */
    color: rgba(58, 170, 53, 255);
    /* Texto en verde */
    font-size: 15px;
    font-weight: 250;
    background: #d6d5d4;
    align-self: center;
    padding-left: 10px;
}

.objetos_submit{
    height: 56px;
    width: 180px;
    min-height: 35px;
    margin-top: 5px;
    border-radius: 59px;
    /* Bordes redondeados */
    color: white;
    /* Texto blanco */
    border: 3px solid #ffffff;
    /* Borde blanco */
    font-size: 17px;
    font-weight: bolder;
    /* Texto más grueso */
    background: #1c8f05;
    /* Verde oscuro */
    max-height: 61px;
    align-self: center;
   
}




@media (min-width:320px) , (max-width:320px){
    
    .container_grid{
        display: grid;
        grid-template: 
            "menu" 90px
            "main" auto 
            "sidebar" 80px
            /auto;
        width: 100vw;
        height: 100vh;
        }
    
        .barrita_iconos{
            grid-area: menu;
        }
        .aside_barra{
            grid-area: sidebar;
        }
        .grid_contenido_plantilla{
            grid-area: main;
           
        }

        .bottones{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 87%;
            width: 62%;
            gap: 12%;
           
        }
    
        .titulo-objetos{
            font-family: Arial, sans-serif;
            color: #63AEE8;
            font-size: 20px;
            padding-left: 30px;
            margin: 12px;
            font-weight: 800;
        }
        .cubos-objetos{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: none;
            width: 108px;
            box-shadow: inset 0 0 0 11px #63AEE8; /* Borde hacia adentro */
            border-radius: 20px;
            color: #63AEE8;
            font-size: 11px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            padding: 16px;
            padding-bottom: 25px;
        }
    
        .cubos-objetos img{
            width: 50px;
            height: 50px;
            margin-bottom: -6px;
        }
        .imagen_flotante-objetos{
            position: absolute;
            bottom: 145px;
            right: 12px;
            width: 140px;
            height: 285px;
            
        }


        /* cambios de la ventana que aparece */

        .img_fondo{
            width: 86%;
        }
        .buscar_user {
            width: 300px;
            height: 353px;
        }
        .inside_img_fondo {
            width: 80%;
            height: 80%;
            font-size: 10px;
        }
        .objetos_input {
            height: 56px;
            min-height: 22px;
            width: 153px;
        }

        .objetos_submit{
            height: 56px;
            width: 180px;
        }
        
}
@media (min-width:400px){

    .container_grid{
    display: grid;
    grid-template: 
        "menu" 90px
        "main" auto 
        "sidebar" 80px
        /auto;
    width: 100vw;
    height: 100vh;
    }

    .barrita_iconos{
        grid-area: menu;
    }
    .aside_barra{
        grid-area: sidebar;
    }
    .grid_contenido_plantilla{
        grid-area: main;
       
    }



    /* cambios del celular */

    .bottones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 69%;
        gap: 12%;
       
    }

    .titulo-objetos{
        font-family: Arial, sans-serif;
        color: #63AEE8;
        font-size: 20px;
        padding-left: 30px;
        margin: 12px;
        font-weight: 800;
    }
    .cubos-objetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: none;
        width: 150px;
        box-shadow: inset 0 0 0 12px #63AEE8; /* Borde hacia adentro */
        border-radius: 20px;
        color: #63AEE8;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        padding: 16px;
        padding-bottom: 25px;
    }

    .cubos-objetos img{
        width: 50px;
        height: 50px;
        margin-bottom: -6px;
    }
    .imagen_flotante-objetos{
        position: absolute;
        bottom: 123px;
        right: 26px;
        width: 153px;
        height: 323px;
        
    }
}


@media (min-width:600px){

    .titulo-objetos{
        font-size: 30px;
    }
    .bottones{
        flex-direction: row;
    }

    .imagen_flotante-objetos{
        right: 50px;
    }
}

@media (min-width: 767px) {
    .container_grid{
    display: grid;
    grid-template: 
        "sidebar menu" 100px
        "sidebar main" auto 
        /
        auto 1fr;
    width: 100vw;
    height: 100vh;
    min-height: 580px;
    overflow: hidden;     
}

    .barrita_iconos{
        grid-area: menu;
    }

    .aside_barra{
        grid-area: sidebar;
    }
    .grid_contenido_plantilla{
        grid-area: main;
        overflow: hidden; 
    }

     /* apartado de los objetos cambios  */

    .bottones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 65%;
        width: 80%;
        gap: 12%;
       
    }

    .titulo-objetos{
        font-family: Arial, sans-serif;
        color: #63AEE8;
        font-size: 28px;
        padding-left: 50px;
        margin: 15px;
        font-weight: 800;
    }
    .cubos-objetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: none;
        width: 150px;
        box-shadow: inset 0 0 0 12px #63AEE8; /* Borde hacia adentro */
        border-radius: 20px;
        color: #63AEE8;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        padding: 16px;
        padding-bottom: 25px;
    }

    .cubos-objetos img{
        width: 50px;
        height: 50px;
        margin-bottom: -6px;
    }
    .imagen_flotante-objetos{
        position: absolute;
        bottom: 82px;
        right: 25px;
        width: 180px;
        height: 340px;
    }


    /* APARTADO DE LA SECCION QUE APARECE */

    .buscar_user{
        left: 50%;
        width: 500px;
        height: 500px;
        top: 55%;
        position: absolute;
        background-color: #63AEE8;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        border-radius: 15px;
    }
    
    .img_fondo{
        background-image: url(../../../assets/img/Base_White.png);
        width: 80%;
        height: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .inside_img_fondo{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        color: rgba(101, 172, 223, 255);
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .objetos_cerrar_button{
        align-self: flex-end;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        cursor: pointer;
        color:  rgb(42, 42, 43);
        padding-right: 30px;
    }
    
    .objetos_input{
        height: 56px;
        min-height: 22px;
        width: 218px;
        margin-bottom: 5px;
        /* Espaciado superior */
        border-radius: 59px;
        /* Bordes redondeados */
        border: 2px solid #ffffff;
        /* Borde blanco */
        color: rgba(58, 170, 53, 255);
        /* Texto en verde */
        font-size: 15px;
        font-weight: 250;
        background: #d6d5d4;
        align-self: center;
        padding-left: 10px;
    }
    
    .objetos_submit{
        height: 56px;
        width: 180px;
        min-height: 35px;
        margin-top: 5px;
        border-radius: 59px;
        /* Bordes redondeados */
        color: white;
        /* Texto blanco */
        border: 3px solid #ffffff;
        /* Borde blanco */
        font-size: 17px;
        font-weight: bolder;
        /* Texto más grueso */
        background: #1c8f05;
        /* Verde oscuro */
        max-height: 61px;
        align-self: center;
       
    }
}

@media (min-width:992px){

    .bottones{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65%;
        width: 90%;
        gap: 10%;
       
    }

    .titulo-objetos{
        font-family: Arial, sans-serif;
        color: #63AEE8;
        font-size: 30px;
        padding-left: 50px;
        margin: 15px;
        font-weight: 800;
    }
    .cubos-objetos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: none;
        width: 177px;
        box-shadow: inset 0 0 0 15px #63AEE8; /* Borde hacia adentro */
        border-radius: 20px;
        color: #63AEE8;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        padding: 20px;
        padding-bottom: 30px;
    }

    .cubos-objetos img{
        width: 55px;
        height: 55px;
        margin-bottom: -6px;
    }
    .imagen_flotante-objetos{
        position: fixed;
        bottom: 82px;
        right: 20px;
        width: 180px;
        height: 340px;
    }
}


@media (min-width:1300px) and (min-height:700px){
    .bottones{
        width: 100%;
        height: 70%;
    }

    .imagen_flotante-objetos{
        display: block;
        position: static;
        height: 400px;
        width: 190px;
    }
    
}

@media (min-width:1400px) {
    .bottones{
        width: 100%;
        height: 70%;
    }

    .imagen_flotante-objetos{
        display: block;
        position: static;
        height: 400px;
        width: 190px;
    }
}

/* AJUSTE DE LAS ALTURAS */

@media (max-height:520px) and (max-width:1000px){
    .buscar_user {
        top: 60%;
        width: 300px;
        height: 353px;
    }
    .inside_img_fondo{
        width: 86%;
        height: 80%;
        font-size: 10px;    
    }
    .objetos_input {
        height: 56px;
        min-height: 22px;
        width: 153px;
    }

    .objetos_submit{
        height: 56px;
        width: 180px;
    }
    .img_fondo{
        width: 86%;
    }

    
}
@media (max-height:520px) and (min-width:600px){

    .imagen_flotante-objetos{
        display: block;
        position: static;
    }
    .img_fondo{
        width: 86%;
    }
    .bottones{
        width: 100%;
        height: 70%;
    }

    .buscar_user {
        top: 60%;
        width: 300px;
        height: 353px;
    }

    .objetos_input{
        width: 150px;
    }
}


@media (min-height:700px) and (min-width:600px){
    .imagen_flotante-objetos{
        display: block;
        position: static;
    }
    .bottones{
        width: 100%;
        height: 70%;
    }
}